body{
    display:block;
    border-style:hidden;
    width:840px;
    justify-items:center;
    text-align:center;
}

#topText{
    width:100%;
    font-size:x-large;
}

p {
    font-size: larger;
    text-decoration: underline;
}

#playersTurn{
    height:28%;
    width: 100%;
    border-style:solid;
    border-width: 1px;
}

#message{
    height:72%;
    width: 100%;
    border-style:solid;
    border-width: 1px;
    white-space: pre;
}

#board{
    display:flex;
    border-style:hidden;
    justify-items:center;
    text-align:center;
}

#main{
    display:flex;
    width:623px;
    border-style: solid;
    border-width:10px;
    flex-wrap:wrap;
    margin:auto;
    border-radius:0px 10px 10px 0px;
}

#hud{
    display:block;
    width:20%;
    border-style: solid;
    border-width: 10px;
    background-color:#F0E68C;
    border-radius: 10px 0px 0px 10px;
}

.slot{
    width:85px;
    height:85px;
    border-style: solid;
    border-width: 2px;
    justify-content:center;
    background-color:#F0E68C;
    align-content: center;
}

.circle{
    width:80px;
    height:80px;
    border-style:outset;
    border-radius: 40px;
    background:red;
    margin:auto;
}

#circleTracker{
    width:85px;
    height:85px;
    border-style:outset;
    border-radius: 42.5px;
    margin:auto;
}

#circleSprite{
    width:85px;
    height:85px;
    border-style:outset;
    border-radius: 42.5px;
    margin:auto;
}

.dropHere{
    width:85px;
    height:85px;
    border-style: solid;
    border-width: 2px 2px 10px 2px;
    justify-content:center;

}
.dropHere:hover{
    background:purple;
}